.menu-item {
  display: inline-block;
  padding: 10px;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
}

.menu-item a:hover,
.menu-item a:active,
.menu-item a:visited,
.menu-item a:link {
  color: inherit;
}

.menu-item-active,
.menu-item-selected {
  border-bottom: solid 2px #1890ff;
  color: #1890ff;
}

.menu-item-disabled {
  cursor: not-allowed !important;
  color: rgba(0, 0, 0, 0.25) !important ;
}
