.fade-in {
  opacity: 0;
}

.fade-in-active {
  transition: opacity 300ms ease-in;
  opacity: 1;
}

.fade-in-done {
  opacity: 1;
}

.fade-out {
  transition: opacity 300ms ease-out;
}

.fade-out-active {
  opacity: 0;
}
